<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title | escape }} | {% endif %}{{ site.title | escape }}</title>
    <link rel="stylesheet" href="/style.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/writing/">Writing</a>
    </nav>
    <main>
      {% block main %}
        <h1>{{ title | escape }}</h1>
        {{ contents | safe }}
      {% endblock %}
    </main>
  </body>
</html>
